    {{#if usuario}} 

        <div>
            <h1>Bienvenido {{usuario}}</h1>
            <form method="get" action="/logout">
            <input type="submit" value="Deslogear">
            </form>
        </div>
        
        
        <div id="chatContainer">

            <form id='formMensajes'>
                <div class='form-group'>
                    <label for='email'>Email</label>
                    <input class='form-control' type='email' name='email' id='email' required>
                </div>
                <div class='form-group'>
                    <label for='nombre'>Nombre</label>
                    <input class='form-control' type='text' name='nombre' id='nombre' required>
                </div>
                <div class='form-group'>
                    <label for='apellido'>Apellido</label>
                    <input class='form-control' type='text' name='apellido' id='apellido' required>
                </div>
                <div class='form-group'>
                    <label for='alias'>Alias</label>
                    <input class='form-control' type='text' name='alias' id='alias' required>
                </div>
                <div class='form-group'>
                    <label for='edad'>Edad</label>
                    <input class='form-control' type='number' name='edad' id='edad' required>
                </div>
                <div class='form-group'>
                    <label for='avatar'>Avatar</label>
                    <input class='form-control' type='text' name='avatar' id='avatar' required>
                </div>
                <div class='form-group'>
                    <label for='mensaje'>Mensaje</label>
                    <input class='form-control' type='mensaje' name='mensaje' id='mensaje' required>
                </div>
                <div class='mt-2'>
                    <input type='submit' class='btn btn-warning'> 
                </div>
            </form>
        
            <div id="msgContainer" class="d-flex flex-row flex-wrap">
                {{#each mensajes}}
                    <div class="d-flex flex-row col-12">            
                        <h5 class="text-info p-2">{{author.email}}</h5>
                        <h5 class="text-danger p-2">[{{time}}]</h5>
                        <i class="text-success p-2">{{text}}</i>
                    </div>
                {{/each}}
            </div>
        </div>
    {{else}}

   <div class="container my-5">

        <form class="form" action="/login" method="post" autocomplete="off">

          <div class="form-group">
            <input id="username" name='username' placeholder="username" class="form-control" type="username" required>
          </div>

          <div class="form-group">
            <input id="password"  name='password' placeholder="password" class="form-control" type="password" required>
          </div>

          <div class="form-group">
            <input class="btn btn-success my-3" type="submit" value="Login">
          </div>
        </form>

      

      </div>
  </div>
    {{!-- <div class="container my-5">

        <h1>REGISTER</h1>
        <br>
        <form class="form" action="/signup" method="post" role="form" autocomplete="off">

          <div class="form-group">
            <input id="username" name='username' placeholder="username" class="form-control" type="text" required>
          </div>

          <div class="form-group">
            <input id="password"  name='password' placeholder="password" class="form-control" type="password" required>
          </div>
            <div class="form-group">
                <input id="email"  name='email' placeholder="email" class="form-control" type="email" required>
            </div>
          <div class="form-group">
            <input id="lastName"  name='lastName' placeholder="lastName" class="form-control" type="text" required>
          </div>
          <div class="form-group">
            <input id="firstName"  name='firstName' placeholder="firstName" class="form-control" type="text" required>
          </div>

          <div class="form-group">
            <input class="btn btn-success my-3" type="submit" value="Register">
          </div>
        </form>
        
        <hr>
        
        <div class="text-left">
          <button class="btn btn-success my-3" onclick="location.href = '/login'">Ir a Login</button>
        </div>

      </div> --}}
        
{{/if}}

 

